// 颜色定义规范
$color-background : #fff;
$color-nav-icon: #a0b5d5;
$color-text: #555;
$color-dialog-background : #666;
$color-theme : #ffcd32;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-text-d : rgba(255, 255, 255, 0.3);
$color-text-l : rgba(255, 255, 255, 0.5);
$color-text-ll : rgba(255, 255, 255, 0.8);

//字体定义规范

$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 20px;


$buttonDefault:linear-gradient(to right, #69cfff, #15cfff, #1892ed);;
$buttonDanger: #EC655A;
$buttonSuccess: #439555;
$buttonBlue: #0f88eb;

$fontDefault: #000000;
$fontSuccess: #51A764;
$fontOrange: #FF8103;
